.container {
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 100vh;
}

.sidebar {
  /* flex: 1; */
  /* width: 30%; */
  height: 70vh;
  background-color: #1a1a1a;
  color: white;
  padding: 1rem;
}

.map {
  /* flex: 2; */
  /* width: 60%; */
  background-color: #f9f9f9;
  padding: 1rem;
}
