.sidebar-container {
  padding: 1rem;
  font-family: sans-serif;
  background-color: #f9f9f9;
  border-left: 1px solid #ccc;
}

.person-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.person-list li {
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.person-list strong {
  color: #333;
}

/* .container {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 1;
  width: 30%;
  background-color: #1a1a1a;
  color: white;
  padding: 1rem;
}

.map {
  flex: 1;
  width: 60%;
  background-color: #f9f9f9;
  padding: 1rem;
} */
